#
# Workflow that use docker command to build a image and push the image on github
#
name: Docker-BuildAndPush
description: Build a docker image from a docker file and push the image on github.

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  # enable a workflow to be triggered manually
  workflow_dispatch:
  # trigger on push
  push:
      paths:
        - .github/workflows/Docker-BuildAndPush.yml

jobs:
  docker_build_and_push:
    runs-on: ubuntu-24.04
    name: BuildAndPublishImage
    permissions:
       # This is required to Grant write access on Github packages on the
       # GITHUB_TOKEN.
      packages: write

    steps:
      # Clone the repo
      # This is required to use the custom action in this repo.
      - name: Cloning git repo
        uses: actions/checkout@v4

      - name: Log in to registry
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      # Build a docker image form a docker file.
      - name: Build Image from docker file
        run : |
          docker build \
            --file ./docker/rocky.dockerfile \
            --tag ghcr.io/spinell/rocky:latest .

      # Publish the docker image on github
      # This will create a public package because the repo is public.
      - name: Push Image
        run : docker push ghcr.io/spinell/rocky:latest
