#
# Workflow example that run command in a docker container.
# Thie image will be doanloaded from a registry.
name: Docker-UseImage

on:
  # enable a workflow to be triggered manually
  workflow_dispatch:
  # trigger on push
  push:
      paths:
        - .github/workflows/Docker-RunJobInContainer.yml

jobs:
  use-from-public-dockerhub:
    runs-on: ubuntu-24.04

    # define the docker container to use
    # all steps will run in the container defined above execpt
    # for those who declaire a container to use
    container:
      image: rockylinux:9.3
      env:
        MY_CONTAINER_ENV_1: Value1
        MY_CONTAINER_ENV_2: Value2
      options: --cpus 1

    steps:

      - name: Display Os Info
        run: cat /etc/os-release

      - name: Display working directory
        run: |
          echo "working directory : $PWD"
          ls -la $PWD

      - name: Dump Env
        run: env

      - name: Dump github context
        run: |
          echo "GITHUB_CONTEXT: ${{ toJSON(github) }}"

      - name: Dump env context
        run: |
          echo "${{ toJSON(env) }}"

      - name: Dump vars context
        run: |
          echo "${{ toJSON(vars) }}"

      - name: Dump secrets context
        run: |
          echo "${{ toJSON(secrets) }}"

  use-image-from-github:
      runs-on: ubuntu-24.04

      # define the docker container to use
      # all steps will run in the container defined above execpt
      # for those who declaire a container to use
      container:
        image: ghcr.io/spinell/rocky:latest
        env:
          MY_CONTAINER_ENV_1: Value1
          MY_CONTAINER_ENV_2: Value2
        options: --cpus 1

      steps:

        - name: Display Os Info
          run: cat /etc/os-release

        - name: Display working directory
          run: |
            echo "working directory : $PWD"
            ls -la $PWD

        - name: Dump Env
          run: env

        - name: Dump github context
          run: |
            echo "GITHUB_CONTEXT: ${{ toJSON(github) }}"

        - name: Dump env context
          run: |
            echo "${{ toJSON(env) }}"

        - name: Dump vars context
          run: |
            echo "${{ toJSON(vars) }}"

        - name: Dump secrets context
          run: |
            echo "${{ toJSON(secrets) }}"
